#deck-container{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}
@media screen and (max-width : 768px) {
    #deck-container{
        color: aqua;
        flex-direction: column;
        align-items: center;
    }
}
#deck-flex{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#players-input{
    margin-top: 50px;
    direction: rtl;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}
#players-input input{
    font-size: 16px;
    border-radius: 50px;
    height: 40px;
    padding-inline-start: 25px;
}
#players-input button{
    border-radius: 25px;
    cursor: pointer;
}
#players-input button:hover{
    opacity: 0.8;
}
#form-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
#popup{
    height:0px;
    width: 200px;
    transition: height 3s;
    position: absolute;
    top: 65%;
    left: 35%;
    z-index: 100;
    background-color: rgb(248, 224, 187);
    border-radius: 10px;
    display: none;
    color: green;
    font-family: Copperplate, Papyrus, fantasy;
}
.change {
    height: 100px !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }
    header{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    #game-header{
        display: flex;
        width: 75%;
        justify-content: space-between;
    }